data/test/billgates/*jpg
data/test/zuckerberg/*jpg
data/test/elonmusk/*jpg
data/train/billgates/*jpg
data/train/zuckerberg/*jpg
data/train/elonmusk/*jpg
static/images/cut_face/*jpg
static/images/face_detect/*jpg
static/images/default/*jpg
.DS_Store